@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
/* MENU */
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #C439D1;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #C439D1;
}
.nav-responsive{
    background-color: #C439D1;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION I N I C I O */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(images/backgroundDef.webp);
    background-size: cover;
    background-position: center;  /* Centra la imagen horizontal y verticalmente */
    background-repeat: no-repeat;  /* Asegura que la imagen no se repita */
    height: 130vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #C439D1;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido-banner .redes {
    display: flex; /* Aplicar flexbox al contenedor */
    justify-content: center; /* Centrar horizontalmente los iconos */
    gap: 10px; /* Espaciado entre los iconos */
    margin-top: 20px; /* Añadir espacio entre el texto de arriba y los iconos */
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: flex;  /* Usar flexbox para los enlaces */
    justify-content: center;  /* Centrar los iconos horizontalmente */
    align-items: center;  /* Centrar los iconos verticalmente */
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #C439D1;
}
.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: justify; 
}
.sobremi .contenido-seccion p span{
    color: #C439D1;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #C439D1;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #C439D1;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #C439D1;
}
.sobremi .fila .col .contenedor-intereses .interes:hover i{
    color: #fff;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi.fila.col.contenedor-intereses.interes span{
    font-size: 14px;
    text-align: center;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #C439D1;
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover{
    border-color: #C439D1;  /* Cambia el color del borde en hover */
}
.sobremi button:hover .overlay{
    width: 100%;
}

/* Estilos de la sección de cards */
.cards-section {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
    color: #333;
}

.cards-section h2 {
    font-size: 36px;
    font-family: 'Righteous', sans-serif;
    margin-bottom: 30px;
}

/* Contenedor de las cards */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilos de la sección de cards */
.cards-section {
    background-color: #1e2326; /* Fondo negro */
    padding: 50px 20px;
    text-align: center;
    color: #fff;
}

.cards-section h2 {
    font-size: 36px;
    font-family: 'Righteous', sans-serif;
    margin-bottom: 30px;
    color: #fff; /* Texto blanco */
}

/* Contenedor de las cards */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilos de las cards */
.card {
    background-color: #1a1a1a; /* Fondo gris oscuro para contraste */
    border: 1px solid #333; /* Borde ligeramente visible */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 300px;
    padding: 20px;
    text-align: center;
    perspective: 1000px; /* Define la profundidad 3D */
    transform-style: preserve-3d; /* Permite transformaciones 3D */
    backface-visibility: hidden; /* Oculta la cara trasera */
    -webkit-transform: rotateY(0); /* Prefijo para Chrome */
    -webkit-backface-visibility: hidden; /* Prefijo para Chrome */
    transition: -webkit-transform 0.6s ease, box-shadow 0.3s ease;
    color: #fff; /* Texto blanco */
    text-decoration: none; /* Eliminar subrayado */
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.card h3 {
    font-size: 24px;
    margin: 15px 0;
    color: #fff;
}

.card p {
    font-size: 16px;
    color: #ddd;
}

/* Efecto hover */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(255, 255, 255, 0.2);
}

/* Contenedor de tags */
.tags {
    display: flex;
    flex-wrap: wrap; /* Permite que los tags se ajusten si no caben en una línea */
    gap: 10px; /* Espaciado entre tags */
    margin-top: 15px; /* Separación con otros elementos */
    justify-content: center; /* Centrar los tags */
}

/* Estilos generales para los tags */
.tag {
    font-size: 14px;
    font-weight: bold;
    color: #fff; /* Texto blanco */
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 20px; /* Bordes redondeados */
    text-align: center;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra para mayor profundidad */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Animación suave */
}

/* Estilos para colores específicos */
.tag-rojo {
    background-color: #E74C3C; /* Rojo */
}

.tag-verde {
    background-color: #27AE60; /* Verde */
}

.tag-azul {
    background-color: #3498DB; /* Azul */
}

.tag-morado {
    background-color: #9B59B6; /* Morado */
}

.tag-amarillo {
    background-color: #c7b834; /* Amarillo */
}

.tag-rosado {
    background-color: #e933cb; /* Rosado */
}


/* Efecto hover */
.tag:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra más grande */
}


/* SECCION SKILLS */
.skills {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
    text-align: center; /* Centra los textos */
}

.skills .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 48px;
    font-family: 'Righteous', sans-serif;
    padding: 20px 0;
}

.icono-bajo-titulo {
    display: block;
    font-size: 24px;
    color: #C439D1;
    margin: 10px auto;
}



/* Contenedor para dividir en columnas */
.contenedor-skills-columnas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permitir que las columnas se ajusten en pantallas pequeñas */
    gap: 20px;
    
    
}

.columna-skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajuste dinámico de columnas */
    gap: 20px;
    width: 45%; /* Ancho predeterminado de las columnas */
    margin: auto;
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
}

.columna-skills h3 {
    font-size: 24px;
    margin-bottom: 20px;
    grid-column: span 3; /* Título ocupa todo el ancho */
    text-align: center; /* Títulos centrados */
}

/* Cuadros de habilidades */
.skill-cuadro {
    background-color: #2a2f32;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: background-color 0.3s;
    height: 120px;
    width: 100%;
}

.skill-cuadro:hover {
    background-color: #C439D1;
}

.skill-cuadro i {
    font-size: 30px;
    margin-bottom: 10px;
    color: #fff;
}

.skill-cuadro span {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}

/* Ajustes responsivos */
@media screen and (max-width: 700px) {
    .contenedor-skills-columnas {
        flex-direction: column; /* Apila las columnas verticalmente */
        align-items: center; /* Centra las columnas */
    }

    .columna-skills {
        width: 100%; /* Cada columna ocupa el ancho completo */
        margin-bottom: 20px; /* Espaciado entre columnas */
    }

    .skill-cuadro {
        flex-direction: row; /* Mantiene los íconos alineados horizontalmente con el texto */
        justify-content: flex-start;
        height: auto; /* Ajusta la altura automáticamente */
        padding: 10px 15px; /* Ajusta el relleno */
    }

    .skill-cuadro i {
        margin-right: 10px; /* Espaciado entre el ícono y el texto */
    }

    .skill-cuadro span {
        font-size: 16px; /* Ajusta el tamaño del texto para mayor legibilidad */
    }
}


/* SECCION CONTACTO */
.contacto{
    background-image: url(img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contacto .fila {
    display: flex;
    justify-content: center; /* Centrar el contenido horizontalmente */
    align-items: center; /* Alinear verticalmente si es necesario */
    flex-wrap: wrap; /* Para que los elementos no se desborden en pantallas pequeñas */
}
.contacto .col {
    width: 100%; /* Ajustamos al 100% para asegurarnos de que se centra */
    max-width: 640px; /* Añadimos un máximo ancho para el iframe */
    padding: 20px;
    text-align: center;
}
.contacto .col iframe {
    width: 100%; /* El iframe ocupará el 100% del contenedor */
    height: 800px; /* Ajustamos la altura según tus necesidades */
    margin: 0 auto; /* Centramos el iframe */
    border: none;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #C439D1;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    display: flex; /* Aplicar flexbox al contenedor */
    justify-content: center; /* Centrar horizontalmente los iconos */
    gap: 10px; /* Espaciado entre los iconos */
    margin-top: 20px; /* Añadir espacio entre el texto de arriba y los iconos */
}
footer .redes a{
    color: #fff;
    display: flex;
    justify-content: center;  /* Centrar los iconos horizontalmente */
    align-items: center;  /* Centrar los iconos verticalmente */
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .redes a:hover{
    background-color: #C439D1;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #C439D1;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}